* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/bg-body.jpg");
}

#page {
    background: url("../images/bg-page.png") repeat;
    margin: 30px auto 0;
    padding: 10px;
    width: 960px;
}

#header {
    display: flex;
    justify-content: space-between;
}

#header img {
    margin-left: 30px;
    padding-top: 30px;
}

#header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 70px;
    padding-right: 20px;
}

#page > div {
    background: #f5f1e6 url(../images/bg-logo.jpg) no-repeat left top;
    padding: 0;
    width: 940px;
}

#header ul a {
    text-decoration: none;
    color: #db9e29;
    font-size: 20px;
    font-weight: bolder;
}

#figure {
    display: flex;
    justify-content: space-between;
}

#figure #home {
    position: relative;
    margin-left: -10000px;
    margin-right: 300px;
    margin-top: 105px;
    width: 595px;
    font-size: 60px;
}

#figure #home a {
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(133, 143, 72, 0.56);
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    position: relative;
    top: -10px;
}

#featured {
    background: url("../images/whats-hot.jpg") no-repeat;
    position: relative;
    display: grid;
    grid-template-areas: "s d";
    gap: 130px;
    margin-bottom: 20px;
}

#featured span a {
    position: relative;
    top: 140px;
    left: 35px;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    background: rgba(139, 0, 0, 0.32);
    padding: 5px 10px;
    font-size: 20px;
}

#body .section {
    display: grid;
    grid-template-areas: "l r";
    padding: 0 10px;
}

#body .section > ul {
    grid-area: l;
    display: grid;
    grid-template-areas: "1 2 3";
    gap: 15px;
    list-style: none;
}

#body .section > ul li h2 {
    padding: 8px 0;
}

#body .section p {
    padding: 0 0 10px;
}

#body .section > ul li a {
    color: black;
    text-decoration: none;
}

#body .section {
    background: #3c200b url(../images/separator-content.jpg) no-repeat top center;
    padding: 45px 30px 20px;
}

#body .section > div {
    background: url("../images/bg-recent-blog.jpg") no-repeat;
    height: 398px;
    width: 220px;
    padding: 85px 0 0 4px;
}

#body .section > div ul {
    list-style-type: none;
}

#body .section > div a {
    text-decoration: none;
}

#body .section > ul p {
    color: white;
}

.readmore {
    text-decoration: underline!important;
}

#body .section > div ul li span {
    font-size: 13px;
}

#body .section > div ul li p {
    margin-top: 3px;
    font-size: 14px;
}

#body .section > ul .readmore {
    background: url("../images/icon-arrow.png") center left no-repeat;
    padding-left: 15px;
    position: relative;
    left: 108px;
    top: 10px;
}

#body .section > div ul li .readmore {
    font-size: 14px;
    position: relative;
    left: 135px;
    top: -7px;
}

#body .section > div ul li h3 {
    margin-top: 5px;
    font-size: 17px;
}

#body .section > div ul li:first-of-type {
    background: url("../images/separator-recent-blog-1st.jpg") top center no-repeat;
    margin-top: 8px;
    padding-top: 5px;
}

#body .section > div ul li:nth-of-type(2) {
    background: url("../images/separator-recent-blog.jpg") top center no-repeat;
    padding-top: 5px;
}

#footer {
    display: grid;
    grid-template-areas:
                        "l m r"
                        "l b b";
}

#footer div:first-of-type {
    grid-area: l;
    padding: 40px 0 10px 20px;
}

#footer div:first-of-type p {
    margin-top: 7px;
    width: 200px;
}

#footer .section ul {
    grid-area: m;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    padding-top: 35px;
}

#footer #connect {
    grid-area: r;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -59px;
    margin-left: 450px;
    gap: 5px;
}

#footer p:last-of-type {
    grid-area: b;
    margin-top: -50px;
    font-size: 15px;
    padding-right: 30px;
    padding-bottom: 20px;
}

#facebook {
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    background-position: 0 10px, right 18px bottom 18px;
    color: #f5f1e6;
}